<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Tic Tac Toe</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Menu Section -->
    <div id="menu" class="active">
        <img src="static/pic.png" alt="Tic Tac Toe Image" class="game-image">
        <h1>Tic Tac Toe</h1>
        <p>Choose your mode:</p>
        <button onclick="showPlayerChoice('normal')">Normal Mode</button>
        <button onclick="showPlayerChoice('random')">Random Mode</button>
        <button onclick="startGameDirect()">Calibrate</button>
    </div>

    <!-- Player Choice Section -->
    <div id="player-choice">
        <img src="static/pic.png" alt="Tic Tac Toe Image" class="game-image">
        <h1>Tic Tac Toe</h1>
        <p>Choose your mark:</p>
        <button onclick="setPlayer('X')">Player X</button>
        <button onclick="setPlayer('O')">Player O</button>
    </div>

    <!-- Game Board Section -->
    <div id="game-board" class="game-container">
        <header>
            <span>Robot: <span id="robot-symbol"></span></span>
            <span>Human: <span id="human-symbol"></span></span>
        </header>
        <div class="grid" id="grid"></div>
        <p id="winner"></p>
        <p id="status" class="status-message"></p>
        <p id="random-event" class="random-event-message"></p>
        <p id="probability-container"></p>
        <!-- Clear Grid Button -->
        <div id="clear-container">
            <button id="clear-button" onclick="clearGrid()">Clear Grid</button>
        </div>
        <div id="restart-container">
            <button id="restart-button" onclick="restartGame()">Play Again</button>
        </div>

        
    </div>

    <script src="static/script.js"></script>
</body>
</html>
